.logos{
    height: 2rem;
    width: 2rem;
}
.logos:hover{
    cursor: pointer;
}
.logo-cont{
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background:-moz-linear-gradient(90deg, rgba(255, 158, 0, 1) 0%, rgba(255, 150, 249, 1) 100%); 
    background:-webkit-linear-gradient(90deg, rgba(255, 158, 0, 1) 0%, rgba(255, 150, 249, 1) 100%);
    background:-o-linear-gradient(90deg, rgba(255, 158, 0, 1) 0%, rgba(255, 150, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF96F9', endColorstr='#FF9E00', GradientType=0 );
    background:-ms-linear-gradient(90deg, rgba(255, 158, 0, 1) 0%, rgba(255, 150, 249, 1) 100%);
    background:linear-gradient(90deg, rgba(255, 158, 0, 1) 0%, rgba(255, 150, 249, 1) 100%);
}